@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

html {
    user-select: none;
}


:root {
    --light-bg-color: #e3edf7;
    --light-gradient-white-bg: linear-gradient(0deg, #fff 0%, #edf4fa 51%, #e5eef7 100%);
    --light-gradient-color-bg: linear-gradient(180deg, rgba(247, 1, 120, 1)0%,
            rgba(160, 8, 156, 1)51%,
            rgba(99, 13, 178, 1)100%);
    --light-main-color: #e6006d;
    --light-font-color: #90979f;
    --light-hover-box-shadow: rgba(0, 0, 0, 0.19)0px 10px 20px,
        rgba(0, 0, 0, 0.23)0px 6px 6px;
    --light-gradient-white-bg2: linear-gradient(98deg, #e5eef7 0%, #fff 100%);
    --light-color: #000;
    --light-stroke-color: #770753;
    --light-a-tag: #000;
    --light-white-color: #fff;
    --light-CV-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0,
        rgba(60, 64, 67, 0.15)0px 2px 6px 2px;
    --light-image-box: radial-gradient(circle, #fff 0%, #edf4fa 51%, #e5eef7 100%);
    --light-border: #eaeef0;
    --light-rotate-text: #f2f6fb;
    --light-rotate-text-shadow: 0 1px 6px 5.94px rgba(0, 0, 0, 0.2);
    --light-about-image-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px #fffb;
    --light-about-image-inside-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 20px #fff;
    --light-about-CV-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0,
        rgba(60, 64, 67, 0.15)0px 2px 6px 2px;
    --light-fliter-btn-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0,
        rgba(60, 64, 67, 0.15)0px 2px 6px 2px;
    --light-project-box-shadow: rgba(0, 0, 0, 0.18)0px 2px 4px;
    --light-read-more-btn-shadow: rgba(0, 0, 0, 0.1)0px 1px 3px 0,
        rgba(0, 0, 0, 0.06)0px 1px 2px 0px;
    --light-card-shadow: rgba(0, 0, 0, 0.18)0px 2px 4px;
    --light-contact-info-border: #e8e1e1;
    --light-contact-info-bg: #e8f1f9;
    --light-form-input-bg: #d2e9ff;
    --light-form-input-border: #f8caca;
    --light-outer-circle-shadow: rgba(50, 50, 93.0.25)0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3)0px 3px 7px -3px;
    --light-inner-circle-shadow: rgba(204, 219, 232)3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.5)-3px -3px 6px 1px inset;
    --light-progress-shadow: rgba(50, 50, 93.0.25)0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3)0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35)0px -2px 6px 0px inset;

    --light-exp-bg: #05555c;
    --light-exp-bg2: #277b6d;



    /* dark theme colors  */


    --dark-gradient-black-bg: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    --dark-gradient-color-bg: linear-gradient(to right, #00d9ff, #ee00ff);
    --dark-main-color: #0df4d1;
    --dark-font-color: #dddfe1;
    --dark-hover-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    ;
    --dark-gradient-white-bg2: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    --dark-stroke-color: #0edbff;
    --dark-CV-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    --dark-image-box: radial-gradient(circle, #000 0%, #1B1212 51%, #36454F 100%);
    --dark-rotate-text: #0d0c30;
    --dark-rotate-text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), inset 0 2px 4px rgba(255, 255, 255, 0.1);
    --dark-about-image-shadow: 15px 15px 20px rgba(0, 0, 0, 0.25), -15px -15px 20px rgba(17, 17, 17, 0.462);
    --dark-about-image-inside-shadow: inset 15px 15px 20px rgba(0, 0, 0, 0.5), inset -15px -15px 20px rgba(255, 255, 255, 0.1);
    --dark-about-CV-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    --dark-fliter-btn-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    --dark-read-more-btn-shadow:rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    --dark-card-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --dark-contact-info-border: #565656;
    --dark-contact-info-bg: #171717;
    --dark-form-input-bg: #4d4d4d;
    --dark-form-input-border: #060202;
    --dark-outer-circle-shadow: rgba(50, 50, 93.0.25)0px 6px 12px -2px,
        rgba(24, 15, 15, 0.3)0px 3px 7px -3px;
    --dark-inner-circle-shadow: rgb(3, 5, 7)3px 3px 6px 0px inset,
        rgba(6, 6, 6, 0.5)-3px -3px 6px 1px inset;
    --dark-gradient-white-bg3:linear-gradient(109.6deg, rgb(3, 16, 41) 11.2%, rgb(8, 14, 21) 91.1%);


    --dark-bg-color: #28282B;
    --dark-color: #fff;
    --dark-a-tag: #fff;
    --dark-black--color: #000;
    --dark-exp-bg: #08adff;
    --dark-exp-bg2: #45dff0;


}

.light {
    --bg-color: var(--light-bg-color);
    --gradient-white-bg: var(--light-gradient-white-bg);
    --gradient-color-bg: var(--light-gradient-color-bg);
    --main-color: var(--light-main-color);
    --font-color: var(--light-font-color);
    --hover-box-shadow: var(--light-hover-box-shadow);
    --gradient-white-bg2: var(--light-gradient-white-bg2);
    --gradient-white-bg3: var(--light-gradient-white-bg2);
    --text-color: var(--light-color);
    --stroke-color: var(--light-stroke-color);
    --a-tag-color: var(--light-a-tag);
    --color: var(--light-white-color);
    --Cv-Shadow-: var(--light-CV-shadow);
    --image-box: var(--light-image-box);
    --border: var(--light-border);
    --rotate-text-bg: var(--light-rotate-text);
    --rotate-text-shadow: var(--light-rotate-text-shadow);
    --about-image-shadow: var(--light-about-image-shadow);
    --about-image-inside-shadow: var(--light-about-image-inside-shadow);
    --about-Cv-shadow: var(--light-about-CV-shadow);
    --fliter-button-shadow: var(--light-fliter-btn-shadow);
    --project-box-shadow: var(--light-project-box-shadow);
    --read-more-btn-shadow: var(--light-read-more-btn-shadow);
    --card-shadow: var(--light-card-shadow);
    --contact-info-border: var(--light-contact-info-border);
    --contact-info-bg: var(--light-contact-info-bg);
    --form-input-bg: var(--light-form-input-bg);
    --form-input-border: var(--light-form-input-border);
    --outer-circle-shadow: var(--light-outer-circle-shadow);
    --inner-circle-shadow: var(--light-inner-circle-shadow);
    --progress-shadow: var(--light-progress-shadow);
    --exp-bg: var(--light-exp-bg);
    --exp-bg2: var(--light-exp-bg2);

}


.dark {
    --gradient-white-bg: var(--dark-gradient-black-bg);
    --gradient-color-bg: var(--dark-gradient-color-bg);
    --main-color: var(--dark-main-color);
    --hover-box-shadow: var(--dark-hover-box-shadow);
    --gradient-white-bg2: var(--dark-gradient-white-bg2);
    --gradient-white-bg3: var(--dark-gradient-white-bg3);
    --stroke-color: var(--dark-stroke-color);
    --Cv-Shadow-: var(--dark-CV-shadow);
    --image-box: var(--dark-image-box);
    --rotate-text-bg: var(--dark-rotate-text);
    --rotate-text-shadow: var(--dark-rotate-text-shadow);
    --about-image-shadow: var(--dark-about-image-shadow);
    --about-image-inside-shadow: var(--dark-about-image-inside-shadow);
    --about-Cv-shadow: var(--dark-about-CV-shadow);
    --fliter-button-shadow: var(--dark-fliter-btn-shadow);
    --read-more-btn-shadow: var(--dark-read-more-btn-shadow);
    --card-shadow: var(--dark-card-shadow);
    --contact-info-border: var(--dark-contact-info-border);
    --contact-info-bg: var(--dark-contact-info-bg);
    --form-input-bg: var(--dark-form-input-bg);
    --form-input-border: var(--dark-form-input-border);
    --outer-circle-shadow: var(--dark-outer-circle-shadow);
    --inner-circle-shadow: var(--dark-inner-circle-shadow);


    --bg-color: var(--dark-bg-color);
    --text-color: var(--dark-color);
    --a-tag-color: var(--dark-a-tag);
    --color: var(--dark-black--color);
    --font-color: var(--dark-font-color);
    --exp-bg: var(--dark-exp-bg);
    --exp-bg2: var(--dark-exp-bg2);

}








.dark-mode-switch {
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 14px;
    background-color: #c3c2c8;
    top: 2px;
    left: -5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dark-mode-switch i {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    left: 2px;
    font-size: 21px;
    /* background-color: ; */
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.2s ease-in-out, background-color 0.3s ease, color 0.3s ease;
}

.dark .dark-mode-switch i {
    left: calc(2px + 50%); 
    color: #000;
    /* Change icon color in dark mode */
}

.dark-mode-switch i.bx-moon {
    content: "\f186";
    /* Moon icon */
}

.dark-mode-switch i.bx-sun {
    content: "\f185";
    /* Sun icon */
}
a {
    text-decoration: none;
    color:var(--a-tag-color);
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg-color);
    overflow-x: hidden;
}

header {
    padding: 15px 8%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--gradient-white-bg);
    z-index: 100;
    transition: .3s;
}

header .logo {
    font-size: 1.7rem;
    font-weight: 700;
}

ul.navlist {
    display: flex;
}

span {
    background: var(--gradient-color-bg);
    -webkit-background-clip: text;
    color: transparent;
}

.navlist li {
    margin: 0 1rem;
}

.navlist li a {
    display: inline-flex;
    font-weight: 600;
}

.navlist li a:hover,
.navlist li a.active {
    background: var(--gradient-color-bg);
    -webkit-background-clip: text;
    color: transparent;
}

.btn {
    background: var(--gradient-color-bg);
    color: var(--color);
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: 500;
    transition: all .3s ease;
}

.btn:hover,
.btn-box .d-CV:hover {
    box-shadow: var(--hover-box-shadow);
}

.menu-icon {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.right-header {
    display: flex;
    align-items: center;
    justify-content: end;
    grid-gap: .8rem;
}

.menu-icon .bar,
.menu-icon::after,
.menu-icon::before {
    content: '';
    display: none;
    width: 100%;
    height: 4px;
    margin: 6px 0;
    border-radius: 3px;
    background:var(--text-color);
    transition: .4s;
}

.menu-icon.active::before {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.menu-icon.active .bar {
    opacity: 0;
}

.menu-icon.active::after {
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Home Section  */
section {
    padding: 90px 8%;
}

.home {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4em;
    background: var(--gradient-white-bg2);
}

.hero-info {
    margin-top: 3em;
}

.hero-info h3 {
    color: var(--font-color);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.hero-info h1 {
    font-size: 3.5rem;
    color: var(--text-color);
}

.hero-info p {
    font-size: .9rem;
    color: var(--font-color);
    line-height: 1.5rem;
}

.text-animate {
    width: 22.8rem;
    position: relative;
}

.text-animate h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: transparent;
    -webkit-text-stroke: 0.1vw var(--stroke-color);
    background: var(--gradient-color-bg);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    transition: .6s;
    letter-spacing: 1px;
    animation: moveText 3s linear infinite;
    animation-delay: 2s;
}

@keyframes moveText {

    0%,
    10%,
    100% {
        background-position: -24rem 0;
    }

    65%,
    85% {
        background-position: 0rem 0;
    }
}

.text-animate h2::before {
    content: '';
    position: absolute;
    top: 7px;
    left: -3px;
    width: 0;
    height: 70%;
    border-right: 2px solid var(--main-color);
    animation: moveCursorText 3s linear infinite;
    animation-delay: 2s;
}

@keyframes moveCursorText {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    85% {
        opacity: 0;
    }
}

.btn-box {
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.btn-box .btn {
    padding: 10px;
    display: flex;
    align-items: center;
    color: var(--color);
    justify-content: space-between;
    gap: 8px;
}

.btn-box .d-CV {
    background: var(--gradient-white-bg2);
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    color: var(--text-color);
    box-shadow: var(--Cv-Shadow-);
    transition: all .3s ease;
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 220px;
    height: 45px;
}

.social-media a {
    width: 42px;
    height: 42px;
    font-size: 1.5rem;
    color: var(--main-color);
    background: var(--color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    border-radius: 50%;
    z-index: 1;
}

.social-media a:hover {
    background: var(--gradient-color-bg);
    color: var(--color);
}

.bg-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-icon span {
    position: absolute;
    width: 50px;
    height: 50px;
    background: var(--gradient-color-bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.image-hero {
    position: relative;
    animation: floatImage 4s ease-in-out infinite;
    animation-delay: 3s;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-22px);
    }

    100% {
        transform: translateY(0);
    }
}

.image-hero .img-box {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: var(--image-box);
    z-index: 10;
}

.img-box .image {
    position: relative;
    width: 300px;
    height: 300px;
    background-image: url(my.jpg);
    background-position: top 30% right -99px;
    background-size: 500px 500px;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 20;
}

.rotate-text {
    position: absolute;
    top: -18%;
    left: -18%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 2rem;
}

.rotate-text span {
    position: relative;
    width: 342px;
    height: 342px;
    background: var(--text-color);
    border: 6px solid var(--color);
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;

}

.rotate-text span::before {
    content: '';
    position: absolute;
    inset: 20px;
    /* background: #00aaff; */
    border-radius: 50%;
    z-index: 1;
}

.rotate-text span i {
    position: absolute;
    inset: 0;
    background: var(--gradient-color-bg);
    filter: blur(5px);
    animation: animate 2s linear infinite;
}

.rotate-text .text {
    position: absolute;
    width: 390px;
    height: 390px;
    background: var(--rotate-text-bg);
    border-radius: 50%;
    box-shadow: var(--rotate-text-shadow);
    animation: rotateText 30s linear infinite;
}

@keyframes rotateText {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.text b {
    position: absolute;
    transform-origin: 0 195px;
    display: block;
    top: 0;
    left: 50%;
    font-size: 1.05rem;
    color: var(--text-color);
}

/* About us section  */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.about .about-image {
    position: relative;
}


.about .about-image .about-hero {
    position: relative;
    top: 15%;
    bottom: 7px;
    width: 300px;
    height: 300px;
    padding-bottom: 10px;
    background-image: url(my.jpg);
    /* background-position: top 65% right -70px; */
    background-position: top 90% right 36px;
    background-size: 257px 275px;
    background-repeat: no-repeat;
}

.about-image {
    width: 350px;
    height: 350px;
    padding-bottom: 4%;
    margin-right: 10px;
    padding-right: 10px;
    border-radius: 10%;
    /* box-shadow: rgba(204,219,232)3px 3px 6px 0px inset,
    rgba(255,255,255,0.5)-3px -3px 6px 1px inset; */
    box-shadow: var(--about-image-shadow);

}

.about-image .about-shadow {
    position: relative;
    inset: 28px 20px;
    width: 90%;
    box-shadow: var(--about-image-inside-shadow);
}

.about-content {
    padding: 3rem 0;
}

.about-content h2 {
    color: var(--main-color);
}

.about-content h3 {
    font-size: 1.6rem;
    line-height: 3rem;
    margin: 0.5rem 0;
    color: var(--text-color);
}

.about-content p {
    color: var(--font-color);
    font-size: 16px;
}


.exp-contents {
    padding-left: 40px;
    padding-right: 20px;
    margin-left: 7px;
    border-left: 3px solid var(--exp-bg);
}

.exp-contents .box {
    position: relative;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
}

.exp-contents .box::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 14px;
    background-color: var(--exp-bg2);
    top: 21px;
    left: -30px;
}

.exp-contents .box::after {
    content: '';
    position: absolute;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent transparent var(--exp-bg2);
    top: 21px;
    left: -18px;
}



.text-box h4 {
    font-size: 1.1rem;
    color: var(--main-color);
    padding-bottom: 10px;
}

.about-btn {
    margin: 0.8rem 0;
}

.about-btn button,
.cvContent a {
    background: var(--gradient-white-bg);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    box-shadow: var(--about-Cv-shadow);
    margin-right: .5rem;
    cursor: pointer;
    transition: all .3s ease;
}

.about-btn button.active {
    background: var(--gradient-color-bg);
    color: var(--color);
}

.text-box {
    margin: 0.8rem 0;
}

.content-btn {
    max-height: 200px;
    min-height: 200px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.content-btn::-webkit-scrollbar {
    width: 5px;
    border-radius: 3px;
}

.content-btn::-webkit-scrollbar-thumb {
    background: var(--gradient-color-bg);
}

.content-btn::-webkit-scrollbar-track {
    background: var(--gradient-white-bg);
}

.content-btn>.content:not(:first-child) {
    display: none;
}

.about-btn button:hover {
    box-shadow: var(--hover-box-shadow);
}

.cvContent {
    margin-top: 1.5rem;
}

/* Project Section  */
.headings {
    text-align: center;
    background: var(--main-color);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 0.8rem;
}

.filter-buttons {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

.filter-buttons button {
    background: var(--gradient-white-bg3);
    padding: 12px 15px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    color: var(--text-color);
    box-shadow: var(--fliter-button-shadow);
    margin-right: 0.5rem;
    cursor: pointer;
    transition: all .3s ease;
}

.filter-buttons button:hover,
button.mixitup-control-active {
    background: var(--gradient-color-bg);
    color: var(--color);
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    gap: 1rem;
}

.project-image img {
    display: block;
    width: 100%;
    height: 160px;
    transition: .3s;
}

.project-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    padding: 0.5rem;
    box-shadow: var(--project-box-shadow);
    background: var(--gradient-white-bg);
    border-radius: 10px;
    transition: all .3s ease;
}

.project-box.hide {
    display: none;
}

.project-box.show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: animates 1s ease-in-out;
    transition: .4s;
}

@keyframes animates {
    0% {
        transform: translate(-2000px) scale(0, 0);
    }

    50% {
        transform: translate(0px) scale(0.5, 0.5);
    }

    100% {
        transform: translate(0) scale(1, 1);
    }
}

.project-content {
    width: 100%;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}
.project-content h3{
   color: var(--text-color);
}

.project-image {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.project-box:hover img {
    transform: scale(1.1);
}

.project-content a.read-more {
    padding: 8px 12px;
    font-size: .8rem;

}

.read-more {
    background: var(--gradient-white-bg2);
    box-shadow: var(--read-more-btn-shadow);
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    margin-right: .8rem;
    cursor: pointer;
}

.project-content p {
    font-size: .9rem;
    color: var(--font-color);
    margin: .5rem 0 1rem 0;
}

/* ----------------------------  certification  -------------------------------- */
.certify-box {
    padding: .5rem !important;
}

.certify {
    position: relative;
}

.cards {
    padding: 1rem .1rem;
}

.card {
    background: var(--gradient-white-bg2);
    box-shadow: var(--card-shadow);
    padding: 1rem;
    border-radius: 10px;
    min-height: 400px;
}

.card-top {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    height: 200px;
    object-fit: cover;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
    display: block;
}

.card:hover img {
    transform: scale(1.1);
}

.card-info {
    padding-bottom: .5rem;
    flex: 1;
}

.card-info h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
    color:var(--text-color);
}

.card-info a {
    margin-top: 20px;
    background:var(--gradient-color-bg);
    color: #fff;
}

.date {
    display: block;
    margin: .2rem 0;
}

.swiper-pagination {
    position: relative !important;
    margin-top: 3rem;
}

.swiper-pagination-bullet {
    height: 10px !important;
    width: 30px !important;
    border-radius: 25px !important;
    background: var(--gradient-color-bg) !important;
}

/*---------------  Contacts  -------------------------------- */
.contact-skills {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.contact-info,
.skills {
    width: 100%;
    background: var(--gradient-white-bg2);
    box-shadow: var(--card-shadow);
    padding: 1rem;
    border-radius: 10px;
}

.contact-info input,
.contact-info form textarea {
    width: 100%;
}

.contact-info form input,
.contact-info form textarea {
    padding: 0.8rem;
    border: 2px solid var(--contact-info-border);
    margin: 0.5rem 0;
    background: var(--contact-info-bg);
    border-radius: 5px;
    outline: none;
    transition: .3s;
}

.contact-info form .input-box {
    display: flex;
    justify-content: space-between;
}

.input-box input {
    width: 49%;
    color: var(--text-color);
}

form input:focus,
form textarea:focus {
    filter: brightness(100%);
    background: var(--form-input-bg);
    border: 2px solid var(--form-input-border);
}

form textarea {
    resize: none;
}

form .btn {
    padding: 15px 20px;
    cursor: pointer;
    border: none;
}

/* ------------------------------------- skills ------------------------------------------------  */
.skill-box {
    padding: 0 1rem 1rem;
}

.skill-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    justify-content: center;
    grid-gap: 2.5rem;
}

.skill-box .main-box {
    margin-bottom: 1rem;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outer-circle {
    height: 170px;
    width: 170px;
    position: relative;
    margin-bottom: 1rem;
    padding: 20px;
    border-radius: 50%;
    box-shadow: var(--outer-circle-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: var(--inner-circle-shadow);
}

.outer-circle svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.outer-circle svg circle {
    fill: none;
    stroke-width: 15px;
    stroke: url(#GradientColorLight);
    stroke-linecap: round;
    stroke-dasharray: 465;
    stroke-dashoffset: 464;
}
.dark .outer-circle svg circle {
    stroke: url(#GradientColorDark); 
}

.outer-circle h2.counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: .9rem;
    font-weight: 400;
}

h2.counter span {
    font-size: 1.7rem;
}

.sk-title {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
}

@keyframes progress {
    to {
        stroke-dashoffset: var(--target);
    }
}

/* -----------------footer----------------------------- */
footer {
    text-align: center;
    margin: 0 8%;
    padding: 2rem 0;
    border: 2px solid var(--contact-info-border);
    color: var(--text-color);
}

#progress {
    position: fixed;
    background: #194eb9;
    z-index: 1000;
    bottom: 60px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: #1d002c;
    cursor: pointer;
    box-shadow: var(--progress-shadow);
}

#progress-value {
    display: grid;
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    background: var(--gradient-color-bg);
    border-radius: 50%;
    color: var(--color);
    place-items: center;
    font-size: 25px;
}

@media(max-width:2100px) {
    .home {
        min-height: 100vh;
        height: 100%;
        width: 100%;
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: space-around;
        grid-gap: 4em;
        background: var(--gradient-white-bg2);
    }

    .about {
        gap: 5rem;
    }
}

@media(max-width:1200px) {
    html {
        font-size: 95%;
    }

    .home {
        min-height: 60vh;
        padding-top: 20%;

    }

    header {
        padding: 15px 0%;
        width: 100%;
    }

    .about {
        width: 100%;
        height: 100%;
        gap: 1rem;
    }


    .content-btn {
        max-height: 300px;
        min-height: 300px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .about-content p {
        color: var(--font-color);
        font-size: 14px;
    }

    .text-box h4 {
        font-size: 10px;
    }

    .text-box span {
        font-size: .5rem;
    }

    h4.experience {
        font-size: 25px;
    }

    span.experience-text {
        font-size: 15px;
    }

}

@media(max-width:991px) {

    header,
    section,
    footer {
        padding-left: 3%;
        padding-right: 3%;
    }

    .home,
    .portfolio-box {
        flex-direction: column-reverse;
    }

    .text b {
        position: absolute;
        transform-origin: 0 195px;
        display: block;
        top: 0;
        left: 50%;
        font-size: 1.05rem;
    }

    .about {
        flex-direction: column;
    }

    .about-image {
        width: 350px;
        height: 350px;
        padding-left: 2%;
        padding-bottom: 6%;
        margin-right: 10px;
        padding-right: 10px;
        border-radius: 10%;
    }


    .about-image .about-shadow {
        inset: 25px 15px;
    }

    .about .about-image .about-hero {
        background-position: top 88% right 25px;
        background-size: 257px 275px;
    }

    .hero-info p {
        font-size: 1.3rem;
        color: var(--font-color);
        line-height: 1.5rem;
    }

    .about-content p {
        font-size: 14px;
    }

    .proposal img {
        width: 52vw;
    }

    .portfolio-img img {
        width: 100%;
        height: 100%;
    }

    .portfolio-gallery {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .img-hero {
        margin-top: 3rem;
    }

    .card-top {
        overflow: hidden;
        border-radius: 10px 10px 0 0;
        height: 300px;
    }
}

@media(max-width:885px) {
    .contact-skills {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .navlist li {
        margin: 0 0.4em;
    }
    .dark-mode-switch {
        top: 2px;
        left: 1px;
    }
}



@media(max-width:768px) {

    header,
    section,
    footer {
        padding-left: 5%;
        padding-right: 5%;
    }

    html {
        overflow-x: hidden;
    }
    .dark-mode-switch {
        left: 60px;
    }

    .menu-icon .bar,
    .menu-icon::after,
    .menu-icon::before {
        display: block;
    }

    ul.navlist {
        position: absolute;
        top: -1000px;
        transition: all .3s ease;
        width: 100%;
        text-align: center;
        display: block;
        background: var(--gradient-white-bg);
        left: 0;
        border-top: 2px solid rgba(248, 202, 202, .7);
    }

    ul.navlist a {
        font-size: 1.5rem;
        margin: 1rem 0;
    }

    .navlist.active {
        top: 100%;
    }

    .overlay {
        width: 100vw;
        height: 100vh;
        top: 100px;
        left: 0;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        z-index: 8;
        opacity: 0;
        transform: .3s;
        pointer-events: none;
    }

    .image-hero {
        margin-top: 8rem;
        margin-bottom: 2rem;
        animation: floatImage 4s ease-in-out infinite;
    }

    .image-hero .img-box {
        position: relative;
        width: 250px;
        height: 250px;
        inset: 6px 5px;
        background: radial-gradient(circle, #fff 0%, #edf4fa 51%, #e5eef7 100%);
        overflow: hidden;
    }

    .img-box .image {
        width: 250px;
        height: 250px;
        background-position: top 30% right -75px;
        background-size: 400px 400px;
    }

    @keyframes floatImage {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(0);
        }
    }

    .about-content p {
        color: var(--font-color);
        font-size: 12px;
    }


    .text-box h4 {
        font-size: 1rem;
    }

    .text-box span {
        font-size: 1rem;
    }
    
    .about-image .about-shadow {
        inset: 78px 0px;
        overflow: hidden;
        width: 85%;
        height: 240px;
    }
    .about .about-image .about-hero {
        top: 0;
        background-position: top 13% right 70px;
        background-size: 220px 222px;
    }
    .about-image {
        padding-bottom: 30%;
    }


    .rotate-text span {
        width: 292px;
        height: 292px;
    }

    .rotate-text .text {
        width: 340px;
        height: 340px;
    }

    .text b {
        transform-origin: 0 170px;
    }


    .about-image {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 25%;
        width: 300px;
        height: 300px;
    }

    .contact-skills {
        display: flex;
        gap: 2rem;
        flex-direction: column;
    }

    .project-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
        gap: 1rem;
    }

    body.open .overlay {
        opacity: 1;
        pointer-events: auto;
    }

    .btn {
        padding: 10px;
    }

    .home {
        grid-gap: 0;
    }

    .filter-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
    }

    .filter-buttons>button {
        flex: 1 1 calc(33.33% - 1rem);
        margin-bottom: 1rem;
    }

}

@media(max-width:530px) {
    html {
        font-size: 80%;
    }

    section {
        padding: 50px 3%;
    }
    .dark-mode-switch {
    
        left: -1px; 
    
    }
    header .logo {
        font-size: 1.4rem;
        font-weight: 800;
    }
    .contact-info form .input-box {
        display: block;
    }

    .input-box input {
        width: 100%;
    }

    .image-hero img {
        width: 100%;
    }

    .rotate-text .text {
        width: 320px;
        height: 320px;
    }

    .text b {
        font-size: 11px;
        transform-origin: 0 160px;
    }

    .image-hero .img-box {
        position: relative;
        width: 250px;
        height: 250px;
        inset: 2px 2px;
        overflow: hidden;
    }

    .text-animate {
        width: 23.8rem;
    }

    .btn-box {
        width: 266px;
        margin-bottom: 3rem;
    }

    .about-image .about-shadow {
        inset: 42px 3px;
    }

    .about .about-image .about-hero {
        background-position: top 13% right 66px;
        background-size: 225px 225px;
    }

    .about-btn button {
        padding: 10px 15px;
    }

    .filter-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
    }

    .filter-buttons>button {
        flex: 1 1 calc(33.33% - 1rem);
        margin-bottom: 1rem;
    }

    .card-top {
        overflow: hidden;
        border-radius: 10px 10px 0 0;
        height: 220px;
    }

    .card {

        min-height: 300px;
    }
    .skill-box {
        padding: 0 5px 2px;
    }
}